body p:nth-child(3){
            color: green; !important;
        }

*{
	font-family: "courer new", monospace;
	font-size: 20px;
}


h1{
	font-size: 50px;
}

#h2{
	text-transform: uppercase;
}


.Languages{
	background-color: lightskyblue;
}

li[class="Tools"]{

	border: 1px solid green;

}
img + ul{
	list-style-type: cjk-ideographic;
}

section > ul > li{
	letter-spacing: 10px;
}

h4 + img {
	height: 200px;
	width: 200px;
	border-radius: 20%;
	
}

ul ~ p {

	text-align: center;

}
