/*specifity selector higharche*/

*{
	font-family: "courer new", monospace;
	font-size: 20px;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: skyblue;
}
nav{
	background-color: white;
}

/*selector:  hover pseudo class*/

nav a:hover{
	background-color: #b4d6de;
}
 div{
 	display: inline-block;
 	float: right;
 }

section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

ol{
	list-style: none;
}

form{

	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;

}
button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 25%;
}
#zuit-motto{

	letter-spacing: 5px;

}

/*adjacent sibling selector*/
/*selector + selector*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h1{
	text-align: center;
	font-size: 2rem;
	color: black; !important
}

.Offering-item{
	text-transform: uppercase;
}

/*decendant selector*/
#bootcamp-learning-list li{

	color: #075966;
}
/*General Sibling Selector*/
/*Selector ~ Selector*/

h2 ~ a{
	text-decoration: none;
}

/*child selector*/
/*Selector > selector*/
body > section > form > label{
	color: rgb(0, 0, 128);
}




h3{
	letter-spacing: 25px;
}

/*Atrribute Selector*/
/*tagname[attribute]*/

input[required] {
	border-width: 1px;
	border-style: solid;
	border-color: navy;
}

